spin_manifest_version = "1"
name = "dotnet-hello"
trigger = { type = "http", base = "/" }
version = "1.0.0"

[variables]
defaulted = { default = "test value" }
required = { required = true }

[[component]]
id = "hello"
source = "bin/Release/net7.0/HelloWorld.Spin.wasm"
allowed_http_hosts = [ "https://spin.fermyon.dev", "http://127.0.0.1:3001" ]
files = [{ source = "assets", destination = "/assets" }]
[component.config]
defaulted = "{{ defaulted }}"
required = "{{ required }}"
[component.build]
command = "dotnet build -c Release"
[component.trigger]
route = "/..."
